<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	
   <select id ="login" parameterType ="UserDTO" resultType="UserDTO">
   		select * from users
   		where user_email = #{userEmail} AND user_password = #{userPassword}
   </select>

   <select id = "join" parameterType="UserDTO">
         insert into users( user_email, user_name, user_password, user_phone)
         value( #{userEmail}, #{userName}, #{userPassword}, #{userPhone})
   </select>
   
   <select id="joinAddress" parameterType="UserDTO">
   
   		insert into address(address, road_address, detail_address, user_num)
   		value (#{address}, #{roadAddress}, #{detailAddress}, #{userNum})
   
   </select>
   
   
	
	<select id="checkId" parameterType="String" resultType="_int">
 		
 			select count(user_num) from users
 			where user_Email = #{userEmail}
 		
 		</select>
 		
 		
 	<select id="getUserEmailByName" parameterType="UserDTO" resultType="UserDTO">
 	
 			select user_email
 			from users
 			where user_name = #{userName} and user_phone = #{userPhone}
 	
 	</select>
 	
 	<select id="getUserPasswordByEmail" parameterType="UserDTO" resultType="UserDTO">
 	
 			select user_password
 			from users
 			where user_email = #{userEmail} and user_name = #{userName} and user_phone = #{userPhone} 
 	
 	</select>
 	
 	
 	<select id="getSequence" resultType="_int">
		select LAST_INSERT_ID()
	</select>
	
	<select id="userInfoList" resultType="UserVO">
		select u.user_num, u.user_name, u.user_email, u.user_phone, a.address, a.detail_address 
		from users u
		join address a on u.user_num = a.user_num
  
   </select>
     
</mapper>